<% provide(:title, "readme") %><p>
<h1>StaticPages_readme</h1>
<p>Find me in app/views/static_pages/readme.html.erb</p>
12.10.2019 14:51:20 <p>
ruby 2.2.4p230 (2015-12-16 revision 53155) [i686-linux]<p>
Rails 4.1.2<p>
Чтобы отфильтровать процессы по типам, можно пропустить результаты ps через “поиск соответствий” grep, используя Unix-конвейер |:<p>
  $ ps aux | grep spring<p>
  ubuntu 12241 0.3 0.5 589960 178416 ? Ssl Sep20 1:46<p>
  spring app | sample_app | started 7 hours ago<p>
Показанный результат выдаёт множество деталей, но самой важной является первая, id процесса, или pid. Чтобы избавиться от ненужного процесса, используйте команду kill для вызова Unix-сигнала завершения (который соответствует  15) на pid:
  $ kill -15 12241<p>
  $ spring stop<p>
Иногда это не срабатывает, тогда можно убить все процессы с названием spring, используя команду pkill:<p>
  $ pkill -15 -f spring<p>
---------------
sf@uhome1:~/rails_projects/2019_Oct_12_sample_app$ rake db:migrate VERSION=20161223080429<p>
--------------
asf simasf2@i.ua   awning1<p>
------------
$ rails generate migration add_admin_to_users admin:boolean<p>
sf@uhome1:~/rails_projects/2019_Oct_12_sample_app$ bundle exec rake db:migrate<p>
--
<%= link_to image_tag("241084701.gif") %><p>
-----
 </li><p>
module UsersHelper<p>
  # Returns the Gravatar (http://gravatar.com/) for the given user.<p>
  def gravatar_for(user)<p>
    gravatar_id = Digest::MD5::hexdigest(user.email.downcase)<p>
   
#gravatar_url = "https://secure.gravatar.com/avatar/#{gravatar_id}"<p>
    default_url = "http://localhost:3000/assets/241084701.gif"<p>
    image_tag(gravatar_url, alt: user.name, class: "gravatar")<p>
  end<p>
end<p>
---------------<p>
avatar  simasf2@i.ua   awning1    simasf3     simasf3@i.ua    awning3<p>
------------<p>
db:migrate:reset: очистка базы<p>
----------------------------<p>
14.10.2019 12:41:44 <p>
	Листинг 3.37: Установка корневого маршрута на страницу Home. config/routes.rb<p>
	Rails.application.routes.draw do<p>
	  root 'static_pages#home'<p>
	  get  'static_pages/help'<p>
	  get  'static_pages/about'<p>
	end<p>
-------------------
$ rails generate scaffold User name:string email:string
rails generate scaffold Lecture lectname:string lecttext:string
bundle exec rake db:migrate VERSION=20191014123001
