Листинг 7.24. 
app/views/shared/_error_messages.html.erb 
Листинг 10.32.
<!--
Листинг 10.32. Обновление партиала сообщений об ошибках из Листинга 7.24 для работы с другими объектами.
app/views/shared/_error_messages.html.erb  -->

<% if object.errors.any? %>
  <div id="error_explanation">
    <div class="alert alert-error">
      The form contains <%= pluralize(object.errors.count, "error") %>.
    </div>
    <ul>
    <% object.errors.full_messages.each do |msg| %>
      <li>* <%= msg %></li>
    <% end %>
    </ul>
  </div>
<% end %>



